<h1>以下のシフトにコメントが追加されました</h1>
<p>勤務日<%= @comment.shift.duty_on %></p>
<p>
  勤務時間:<%= @comment.shift.started_at %>〜<%= @comment.shift.end_at %>
</p>
<p>
<p><%= @comment.shift.job %></p>
<p><%= @comment.shift.assigned_user %></p>

<h2>コメント内容</h2>
<p>ユーザー:<%= @comment.user.name %></p>
<p>コメント:<%= @comment.content %></p>
