<h1>シフト編集</h1>
<%= form_with(model:@shift, local:true) do |f| %>
  <% if @shift.errors.any? %>
    <div class = "alert alert-warning">
      <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class = "shift_info">
      <%= f.label:duty_on %>
      <%= f.date_field:duty_on %>
    </div>

    <div class = "shift_info">
      <%= f.label:started_at %>
      <%= f.time_select :started_at,{minute_step:5} %>
    </div>

    <div class = "shift_info">
      <%= f.label:end_at %>
      <%= f.time_select :end_at,{minute_step:5} %>
    </div>

    <div class = "shift_info">
      <%= f.label:job %>
      <%= f.text_field:job %>
    </div>

    <div class = "shift_info">
      <%= f.label:assigned_user %>
      <%= f.select:assigned_user,User.pluck(:name)%>
    </div>

   <%= f.submit %>

  <% elsif @shift.assigned_user.nil? %>
  <div class = "shift_info">
    <%= f.hidden_field:duty_on %>
    <%= f.hidden_field:duty_on %>

    日付:<%= @shift.duty_on.strftime("%Y年%-m月%-d日") %>
  </div>

  <div class = "shift_info">
    <%= f.hidden_field :started_at %>
    <%= f.hidden_field :started_at,{minute_step:5} %>
    勤務開始時間:<%= @shift.started_at.strftime("%-H時%-M分") %>
  </div>

  <div class = "shift_info">
    <%= f.hidden_field :end_at %>
    <%= f.hidden_field :end_at,{minute_step:5} %>
    勤務終了時間:<%= @shift.end_at.strftime("%-H時%-M分") %>
  </div>

  <div class = "shift_info">
    <%= f.hidden_field :job %>
    <%= f.hidden_field :job %>
    担当業務:<%= @shift.job %>
  </div>

  <div class = "shift_info">
      <%= f.label:assigned_user,"このシフトに入る"%>
      <%= f.check_box :assigned_user, {}, current_user.name, "" %>
    </div>
  <%= f.submit %>
  <% else %>
    <p>権限がありません!</p>
  <% end %>
<% end %>
