<h1>シフト一覧</h1>
  <% if released?%>
    <%= link_to '非公開にする', nonrelease_shifts_path, method: :patch  %>
<div class = "serach_form">
  <%= search_form_for @q do |f| %>

    <%= f.label:duty_on_cont, "勤務日"%>
    <%= f.search_field:duty_on_cont , include_blank:true  %>

    <%= f.label:started_at_cont, "勤務開始時間"  %>
    <%= f.search_field :started_at_cont , include_blank:true %>

    <%= f.label:end_at_cont, "勤務終了時間" %>
    <%= f.search_field :end_at_cont , include_blank:true %>

    <%= f.label:job_cont, "担当業務"  %>
    <%= f.search_field:job_cont %>

    <%= f.label:assigned_user_cont, "担当者"  %>
    <%= f.search_field:assigned_user_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>
<br>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
    <th colspan="3"></th>
  </tr>
<% @shifts.each do |s| %>
  <tr>
    <td><%= s.duty_on %></td>
    <td><%= s.started_at%></td>
    <td><%= s.end_at%></td>
    <td><%= s.job %></td>
    <td><%= s.assigned_user %></td>
    <td><%= link_to "詳細", shift_path(s.id)%></td>
    <% if current_user.admin? %>
      <td><%= link_to '照合', shifts_path(@shift, id: s.id) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% else %>
    <%= link_to '公開する',release_shifts_path, method: :patch%>
<% end %>

<% if current_user.admin? %>
<br>
<table border="1" align="center">
  <tr>
    <th>勤務希望日</th>
    <th>勤務開始希望時間</th>
    <th>勤務終了希望時間</th>
    <th>担当希望業務</th>
    <th>アルバイト氏名</th>
    <th>登録日時</th>
    <th colspan="3"></th>
  </tr>
<% @requests.each do |r| %>
  <tr>
    <td><%= r.worked_on %></td>
    <td><%= r.start_work_at%></td>
    <td><%= r.end_work_at%></td>
    <td><%= r.work_job %></td>
    <td><%= r.user.name %></td>
    <td><%= r.created_at %></td>
    <td><%= link_to "詳細", request_shifts_path %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'シフト作成', new_shift_path %></p>
<% end %>
