<h1>シフト一覧</h1>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
    <th colspan="3"></th>
  </tr>
<% @shifts.each do |s| %>
  <tr>
    <td><%= s.duty_on %></td>
    <td><%= s.started_at%></td>
    <td><%= s.end_at%></td>
    <td><%= s.job %></td>
    <td><%= s.assigned_user %></td>
    <td><%= link_to "詳細", shift_path(s.id)%></td>
    <td><%= link_to '照合', shifts_path(@shift, id: s.id) %></td>
  </tr>
<% end %>
</table>
