<h1>シフト一覧</h1>
  <% if released?%>
   <% if current_user.admin? %>
    <%= link_to '非公開にする', nonrelease_shifts_path, method: :patch  %>
   <% end %>
<div class = "serach_form">
  <%= search_form_for @q do |f| %>

    <%= f.label:duty_on_eq, "勤務日"%>
    <%= f.date_field:duty_on_eq , include_blank:true  %>

    <%= f.label:started_at_gteq, "勤務開始時間"  %>
    <%= f.time_field :started_at_gteq , include_blank:true %>

    <%= f.label:end_at_lteq, "勤務終了時間" %>
    <%= f.time_field :end_at_lteq , include_blank:true %>

    <%= f.label:job_gteq, "担当業務"  %>
    <%= f.search_field:job_gteq %>

    <%= f.label:assigned_user_cont, "担当者"  %>
    <%= f.search_field:assigned_user_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>
<br>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
    <th>コメント数</th>
    <th colspan="3"></th>
  </tr>
<% @shifts.each do |s| %>
  <tr>
    <td><%= s.duty_on.strftime("%Y年%-m月%-d日") %></td>
    <td><%= s.started_at.strftime("%-H時%-M分")%></td>
    <td><%= s.end_at.strftime("%-H時%-M分")%></td>
    <td><%= s.job %></td>
    <td><%= s.assigned_user %></td>
    <td><%= s.comments.count %></td>
    <td><%= link_to "詳細", shift_path(s.id)%></td>
    <% if current_user.admin? %>
      <td><%= link_to '照合', shifts_path(@shift, id: s.id) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% elsif current_user.admin? %>
    <%= link_to '公開する',release_shifts_path, method: :patch%>
<% end %>

<% if current_user.admin? %>
<h2>勤務希望確認</h2>
<br>
<table border="1" align="center">
  <tr>
    <th>勤務希望日</th>
    <th>勤務開始希望時間</th>
    <th>勤務終了希望時間</th>
    <th>担当希望業務</th>
    <th>アルバイト氏名</th>
    <th>登録日時</th>
    <th colspan="3"></th>
  </tr>
<% @requests.each do |r| %>
  <tr>
    <td><%= r.worked_on.strftime("%Y年%-m月%-d日") %></td>
    <td><%= r.start_work_at.strftime("%-H時%-M分")%></td>
    <td><%= r.end_work_at.strftime("%-H時%-M分")%></td>
    <td><%= r.work_job %></td>
    <td><%= r.user.name %></td>
    <td><%= r.created_at.strftime("%-m月%-d日 %-H時%-M分%-S秒") %></td>
    <td><%= link_to "詳細", request_shifts_path %></td>
  </tr>
<% end %>
</table>
<% end %>
