<h1>シフト一覧</h1>

<% if current_user.admin? %>
  <p>
	  <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseSample1">
		  管理者の方へ
	  </button>
  </p>
  <div class="collapse" id="collapseSample1">
	  <div class="well">
      照合ボタンを押すと、勤務希望一覧からマッチしたアルバイトの指名が入力されます。<br>
      公開・非公開ボタンではアルバイトへのシフトの公開・非公開を選択できます。<br>
      デフォルトは非公開（nonreleased）となっていますので、シフトが完成したら、公開してください
	  </div>
  </div>

    <%= link_to '非公開にする', shifts_path(shift_nonrelease: "true") %>
    <%= link_to '公開する',shifts_path(shift_release: "true")%>
  <% end %>

<div class = "serach_form">
  <%= search_form_for @q do |f| %>

    <%= f.label:duty_on_eq, "勤務日"%>
    <%= f.date_field:duty_on_eq , include_blank:true  %>

    <%= f.label:started_at_gteq, "勤務開始時間"  %>
    <%= f.time_field :started_at_gteq ,include_blank:true %>

    <%= f.label:end_at_lteq, "勤務終了時間" %>
    <%= f.time_field :end_at_lteq , include_blank:true %>

    <%= f.label:job_cont, "担当業務"  %>
    <%= f.search_field:job_cont %>

    <%= f.label:assigned_user_cont, "担当者"  %>
    <%= f.search_field:assigned_user_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>
<br>
<% if current_user.admin? && nonrelease?%>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
    <th>コメント数</th>
    <th>ステータス</th>
    <th colspan="3"></th>
  </tr>
<% @shifts.each do |s| %>
  <tr>
    <td><%= s.duty_on.strftime("%Y年%-m月%-d日") %></td>
    <td><%= s.started_at.strftime(" %p%-H時%-M分")%></td>
    <td><%= s.end_at.strftime(" %p%-H時%-M分")%></td>
    <td><%= s.job %></td>
    <td><%= s.assigned_user %></td>
    <td><%= s.comments.count %></td>
    <td><%= s.status %></td>
    <td><%= link_to "詳細", shift_path(s.id)%></td>
    <td><%= link_to '照合', shifts_path(@shift, id: s.id) %></td>
    <% end %>
  </tr>
<% elsif current_user.present? && release? %>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
    <th>コメント数</th>
    <th>ステータス</th>
    <th colspan="2"></th>
  </tr>
<% @shifts.each do |s| %>
  <tr>
    <td><%= s.duty_on.strftime("%Y年%-m月%-d日") %></td>
    <td><%= s.started_at.strftime("%-H時%-M分")%></td>
    <td><%= s.end_at.strftime("%-H時%-M分")%></td>
    <td><%= s.job %></td>
    <td><%= s.assigned_user %></td>
    <td><%= s.comments.count %></td>
    <td><%= s.status %></td>
    <td><%= link_to "詳細", shift_path(s.id)%></td>
    <% if current_user.admin? %>
      <td><%= link_to '照合', shifts_path(@shift, id: s.id) %></td>
    <% end %>
  </tr>
 <% end %>
<% end %>
</table>
