<h1>シフト新規作成</h1>
<p>登録したシフトは、シフト一覧画面に表示されます</p>

<%= form_with(model:@shift, local:true) do |f| %>
  <% if @shift.errors.any? %>
    <div class = "alert alert-warning">
      <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class = "shift_info">
  <%= f.label:duty_on %>
  <%= f.date_field:duty_on %>
</div>

<div class = "shift_info">
  <%= f.label:started_at %>
  <%= f.time_select :started_at,{minute_step:5} %>
</div>
<div class = "shift_info">
    <%= f.label:end_at %>
    <%= f.time_select :end_at,{minute_step:5} %>
</div>
<div class = "shift_info">
  <%= f.label:job %>
  <%= f.text_field:job %>
</div>

<div class = "shift_info">
  <%= f.label:assigned_user %>
  <%= f.text_field:assigned_user %>
</div>

<%= f.submit %>

<% end %>

<%= link_to "投稿一覧", shifts_path %>
