<h1>シフト詳細</h1>
<table border="1" align="center">
  <tr>
    <th>勤務日</th>
    <th>勤務開始時間</th>
    <th>勤務開始終了時間</th>
    <th>担当業務</th>
    <th>担当者</th>
  <tr>
    <td><%= @shift.duty_on.strftime("%Y年%-m月%-d日") %></td>
    <td><%= @shift.started_at.strftime("%-H時%-M分")%></td>
    <td><%= @shift.end_at.strftime("%-H時%-M分") %></td>
    <td><%= @shift.job %></td>
    <td><%= @shift.assigned_user %></td>
  </tr>
</table>
<%= link_to "変更", edit_shift_path(@shift.id) %>
<%= link_to "削除", shift_path(@shift.id), method: :delete, data: { confirm: '削除しますか？' } %>

<section class="toukou">
  <h4 align="center">*シフトに入ることができなくなった人は、ここに代理を探したい旨を書き込むことができます*</h4>
    <div id = "comment_area" align="center">
      <%= render partial: "comments/index", locals: {comments: @comments, shift:@shift} %>
    </div>
</section>
<section class = "toukou">
<p align="center">コメント入力欄</p>
  <div class ="form" align="center" >
    <%= render partial: "comments/form", locals: {comment: @comment, shift: @shift} %>
  </div>
</section>
