<h1>希望一覧</h1>
<table border="1" align="center">
  <tr>
    <th>勤務希望日</th>
    <th>勤務開始希望時間</th>
    <th>勤務終了希望時間</th>
    <th>希望業務</th>
    <th colspan="2"></th>
  </tr>
<% @requests.each do |r| %>
  <% if current_user.id == r.user_id || current_user.admin? %>
    <tr>
      <td><%= r.worked_on.strftime("%Y年%-m月%-d日") %></td>
      <td><%= r.start_work_at.strftime("%-H時%-M分") %></td>
      <td><%= r.end_work_at.strftime("%-H時%-M分") %></td>
      <td><%= r.work_job %></td>
      <td><%= link_to "編集", edit_request_shift_path(r.id) %></td>
      <td><%= link_to "削除", request_shift_path(r.id), method: :delete, data: { confirm: '削除しますか？' } %></td>
    </tr>
  <% end %>
<% end %>
</table>
<%= link_to "シフト希望登録", new_request_shift_path %>
