<!DOCTYPE html>
<html>
  <head>
    <title>ShiftManegement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Inconsolata:400,700", media: "all" %>
    <%= stylesheet_link_tag "css/style.css", media: "all" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
   	<nav class="fh5co-nav" role="navigation">
   		<div class="top-menu">
   			<div class="container">
   				<div class="row">
   					<div class="col-xs-12">
   						<ul>
                 <% if user_signed_in? && current_user.admin? %>
       				     <li><%= link_to "シフト一覧", shifts_path %></li>
       				     <li><%= link_to "勤務希望登録",new_request_shift_path %></li>
       				     <li><%= link_to "勤務希望一覧",request_shifts_path %></li>
                   <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                   <li><%= link_to "ユーザー一覧",users_path %></li>
                   <li><%= link_to "新規登録", new_user_registration_path %></li>
                   <li><%= link_to "シフト作成", new_shift_path %></li>
                   <li><%= link_to "TOP", roots_top_path %></li>
                   <p class="navbar-text">ようこそ<%= current_user.name %>さん。</p>
                 <% elsif user_signed_in? && ! current_user.admin? %>
                   <li><%= link_to "シフト一覧", shifts_path %></li>
                   <li><%= link_to "勤務希望登録",new_request_shift_path %></li>
                   <li><%= link_to "勤務希望一覧",request_shifts_path %></li>
                   <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                   <li><%= link_to "ユーザープロフィール編集", edit_user_path(current_user.id) %></li>
                   <li><%= link_to "TOP", roots_top_path %></li>
                   <p class="navbar-text">ようこそ<%= current_user.name %>さん。</p>
                 <% else %>
                   <li><%= link_to "ログイン", new_user_session_path %></li>
                   <li><%= link_to 'TOP', roots_top_path %></li>
                 <% end %>
   					</div>
   				</div>
   			</div>
      </div>
   	</nav>
   <% if notice %>
     <p class="alert alert-notice"><%= notice %></p>
   <% end %>
   <% if alert %>
     <p class="alert alert-error"><%= alert %></p>
   <% end %>
    <%= yield %>
  </body>
</html>
