<!DOCTYPE html>
<html>
  <head>
    <title>ShiftManegement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "シフト一覧", shifts_path %>
      <%= link_to "勤務希望登録",new_request_shift_path %>
      <%= link_to "勤務希望一覧",request_shifts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "ユーザー一覧",users_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to 'シフト作成', new_shift_path %>
    <% elsif user_signed_in? && ! current_user.admin? %>
      <%= link_to "シフト一覧", shifts_path %>
      <%= link_to "勤務希望登録",new_request_shift_path %>
      <%= link_to "勤務希望一覧",request_shifts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "編集", edit_user_path(current_user.id) %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
