<h2>ユーザー情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<% if current_user.admin? %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.telephone_field :number, autofocus: true, autocomplete: "number" %>
  </div>

  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin, autofocus: true, autocomplete: "admin" %>
  </div>
<% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(パスワードを変更しない場合は空欄で構いません)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上で登録してください</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(パスワードの変更には現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to "戻る", :back %>
